
      a {
        padding: 20px;
        color: aliceblue;
        text-decoration: none;
        text-align: center;
      }
      #a {
        background-color: black;
        padding: 20px;
        padding-left: 35%;
      }
      .b {
        text-align: center;
      }
      #c {
        text-align: center;
      }
      #d {
        text-align: center;
      }
      .s {
        width: 400px;
        border: 300px;
        background-color: wheat;
        padding: 30px;
        border-radius: 10%;
        <!-- margin-left: 200px; -->
        text-align: center;
      }
     
      .m {
        width: 400px;
        border: 300px;
        background-color: wheat;
        padding: 30px;
        border-radius: 10%;
        text-align: center;
      }
     
      .q {
        display: flex;
        gap: 20px;
        justify-content: center;
      }
      #h {
        text-align: center;
      }
      @media Screen and (min-width:451px) and (max-width: 768px) {
        .q{
          flex-wrap:wrap;
        }
      }
    